Breadboard-Buddy-backups/
~Breadboard-Buddy.kicad_sch.lck
fp-info-cache
~_autosave-Breadboard-Buddy.kicad_pcb.lck
_autosave-Breadboard-Buddy.kicad_pcb
\#auto_saved_files#
~Breadboard-Buddy.kicad_pcb.lck
